* {
  margin: 0;
  padding: 0;
}

:root {
  --color1: #541661;
  --color2: #d62246;
  --color3: #784f41;
  --color4: #00f0b5;
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.9)
    ),
    url(../img/html.png);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: #fff fixed 50% 50%;
  position: relative;
  overflow: hidden;
}

.hamburguer {
  content: url(../svg/hamburguesa.svg);
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  z-index: 170;
  padding: 3px;
  transition: all 0.5s;
  z-index: 301;
}

.hamburguer:hover {
  background: #eeeeee;
  transition: all 0.5s;
}
.menu-navegacion {
  position: fixed;
  top: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(
    135deg,
    var(--color1) 0%,
    var(--color2) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 6px rgba(131, 131, 131, 0.5);
  z-index: 300;
}

.spread {
  transform: translateX(0);
}

.menu-navegacion a {
  color: #fff;
  text-decoration: none;
}

.align-animation {
  text-align: center;
}

.header .animacion {
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  animation: animate 1s infinite;
}

@keyframes animate {
  0% {
    content: url(../img/animacion/animacion1.GIF);
  }
  50% {
    content: url(../img/animacion/animacion2.GIF);
  }
  100% {
    content: url(../img/animacion/animacion1.GIF);
  }
}

.text-animation {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
}

.go-down i {
  color: white;
  position: absolute;
  top: 92%;
  left: 50%;
  font-size: 35px;
  transform: translateX(-50%) translateY(-50%);
  animation: go-down 1s infinite;
}

@keyframes go-down {
  0% {
    transform: translateY(13px) translateX(-50%) translateY(-50%);
  }
  50% {
    transform: translateY(0px) translateX(-50%) translateY(-50%);
  }
  100% {
    transform: translateY(13px) translateX(-50%) translateY(-50%);
  }
}

.portafolio {
  width: 100%;
  height: 100%;
}

.contenedor-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.contenedor-galeria img {
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 1%;
}

.contenedor h1 {
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .menu-navegacion {
    width: 50vw;
  }
  .contenedor-galeria img {
    width: 92%;
    display: flex;
  }
}

.img-circle {
  width: 25px;
  z-index: 401;
  position: absolute;
  top: 94%;
  left: 2%;
}
