*::after *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#contenedor-carga {
  background-color: dashed #525250f1;
  height: 100%;
  width: 100%;
  position: fixed;
  transition: all 1s ease;
  z-index: 10000;
}
#carga {
  border: 15px solid #ffffff;
  border-top-color: #42bdd6;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: girar 1.5s linear infinite;
}

#contenedor-carga #carga img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  background: transparent;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
