@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Outline&family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Outline&family=Langar&family=Luckiest+Guy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #541661;
  --color2: #d62246;
  --color3: #784f41;
  --color4: #00f0b5;
  scroll-behavior: smooth;
}

.clic {
  text-align: center;
  position: absolute;
  left: 75%;
  top: 15%;
}

@keyframes mano {
  0% {
    width: 50px;
  }
  50% {
    width: 45px;
  }
  100% {
    width: 50px;
  }
}

#mano {
  position: relative;
  width: 50px;
  z-index: 100;
  animation: mano 0.8s infinite;
}

.go-top-cont {
  position: relative;
  bottom: 4rem;
  width: 6.6rem;
  height: 6.6;
  top: 100%;
  z-index: 180;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 100%;
  left: 20%;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
  padding: 10px;
}

.go-down-cont {
  position: relative;
  bottom: 4rem;
  top: 0%;
  z-index: 100;
  height: 100%;
  width: 100%;
  text-align: center;
}

.go-down-button i {
  position: static;
  font-size: 1.7rem;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
  z-index: 1100;
  top: 90%;
  left: 0%;
  margin-top: 30px;
  display: none;
  border: white 10px solid;
}

#p {
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 90;
  margin: 0;
  position: relative;
  top: 50px;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.abilidades {
  color: transparent;
  background: linear-gradient(to right, var(--color1), #ffc3c6);
  -webkit-background-clip: text;
  font-weight: bold;
  font-family: "Audiowide", cursive;
  font-size: 40px;
}

.titulo {
  font-size: 60px;
  margin-bottom: 15px;
  background: linear-gradient(to right, var(--color2), #ffffff);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 150;
  font-family: "Luckiest Guy", cursive;
  font-size: 50px;
  animation: animation 15s linear infinite;
}

@keyframes animation {
  0% {
    color: transparent;
    background: linear-gradient(to right, var(--color2), #ffffff);
    -webkit-background-clip: text;
  }
  25% {
    color: transparent;
    background: linear-gradient(to right, var(--color1), #ffffff);
    -webkit-background-clip: text;
  }
  50% {
    color: transparent;
    background: linear-gradient(to right, #ffffff, var(--color2));
    -webkit-background-clip: text;
  }
  75%{
    color: transparent;
    background: linear-gradient(to right, #ffffff, var(--color1));
    -webkit-background-clip: text; 
  }
  100% {
    color: transparent;
    background: linear-gradient(to right, var(--color2), #ffffff);
    -webkit-background-clip: text;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

html {
  background: black;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

.header {
  height: 100vh;
  /* 02 */
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.995),
      rgba(0, 0, 0, 0.89)
    ),
    url(img/woman.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: #fff fixed 50% 50%;
  position: relative;
  overflow: hidden;
}

.absolute {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  height: 100%;
  position: absolute;
  size: 100%;

}




h1 {
  color: #ffffff;
  z-index: 95;
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 30px;
}

h1::after {
  display: block;
  width: 50%;
  height: 5px;
  content: "";
  margin: auto;
  background: #ffffff;
}

.over {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 90;
}

.head {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to left, #667eea, #fbc2eb);
  -webkit-text-fill-color: transparent;
  font-family: "Lobster", cursive;
}

.hamburguer {
  position: fixed;
  top: 30px;
  left: 30px;
  background: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  z-index: 170;
}

.menu-navegacion {
  position: fixed;
  top: 0;
  width: 30vw;
  height: 100%;
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%); */
  /* 02 */
  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  /* 028 */
  background-image: linear-gradient(
    135deg,
    var(--color1) 0%,
    var(--color2) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 6px rgba(131, 131, 131, 0.5);
  z-index: 160;
}

.spread {
  transform: translateX(0);
}

.menu-navegacion a {
  color: #fff;
  text-decoration: none;
  font-family: "Audiowide", cursive;
}

.typed {
  z-index: 150;
}
.copy {
  font-weight: 300;
  font-size: 25px;
}

/* Services */

.subtitulo {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  color: transparent;
  background: linear-gradient(to right, var(--color1), #ffd9db);
  -webkit-background-clip: text;
  font-family: "Audiowide", cursive;
}

.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-servicio video {
  width: 40%;
  position: relative;
  border-radius: 10px;
  border: 2px solid white;
}

.checklist-servicio {
  width: 45%;
}

.service {
  margin-bottom: 20px;
  color: white;
}

.n-service {
  font-size: 23px;
  margin-bottom: 30px;
  color: transparent;
  background: linear-gradient(to right, var(--color2), #ffffff);
  -webkit-background-clip: text;
  font-family: "Audiowide", cursive;
}

.number {
  display: inline-block;
  /* 02 */
  background: #000000;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  color: #fff;
  font-weight: 700;
}

.gallery {
  background: #000000;
}

.contenedor-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.img-galeria {
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 1%;
}

.img-galeria:hover {
  border: 1px solid #ffffffa6;
  box-shadow: 0px 0px 10px 5px #ffffff63;
}

.imagen-light {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.534);
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}

.agregar-imagen {
  width: 60%;
  transform: scale(0);
  border-radius: 10px;
  transition: transform 0.3s 0.2s;
}

.showImage {
  transform: scale(1);
}

.show {
  transform: translate(0);
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  cursor: pointer;
}

.experts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cont-expert {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.cont-expert img {
  display: block;
  margin: auto;
  width: 80%;
}

.n-expert {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  font-weight: 400;
  color: white;
  font-family: "Audiowide", cursive;
  color: transparent;
  background: linear-gradient(to right, var(--color2), #ffffff);
  -webkit-background-clip: text;
}

footer {
  background: #070707;
  padding-bottom: 0.1px;
}

#p-comp {
  font-family: "Audiowide", cursive;
  color: transparent;
  background: linear-gradient(to right, var(--color2), #ffffff);
  -webkit-background-clip: text;
  font-size: 25px;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid var(--color2);
  box-shadow: 0px 0px 15px 2px var(--color2);
}

#p-comp:hover {
  cursor: pointer;
  color: transparent;
  background: linear-gradient(to right, var(--color1), #ffffff);
  -webkit-background-clip: text;
  box-shadow: 0px 0px 15px 2px var(--color1);
  border: 2px solid var(--color1);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us {
  width: 40%;
  color: #fff;
}

.brand {
  font-weight: 500;
  font-size: 40px;
}

.brand + p {
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 2px;
  background: transparent;
  margin-bottom: 60px;
}

.social-media-icon:hover {
  color: #474747;
  border: 1px solid #474747;
}

#text-contact {
  text-decoration: none;
  color: #fff;
}

#text-contact:hover {
  text-decoration: none;
  color: #474747;
}

@media screen and (max-width: 800px) {
  .menu-navegacion {
    width: 50vw;
  }

  .titulo {
    font-size: 40px;
  }

  .contenedor-servicio video {
    width: 80%;
    margin-bottom: 40px;
  }

  .checklist-servicio {
    width: 80%;
  }

  .service {
    margin-bottom: 30px;
    color: white;
  }

  .img-galeria {
    width: 45%;
  }

  .agregarImagen {
    width: 80%;
  }

  .cont-expert {
    width: 80%;
  }

  .footer-content {
    justify-content: center;
  }

  .social-media {
    width: 80%;
    justify-content: space-evenly;
  }

  .social-media-icon {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .abilidades {
    color: transparent;
    background: linear-gradient(to right, var(--color2), #ffc3c6);
    -webkit-background-clip: text;
    font-weight: bold;
    font-family: "Audiowide", cursive;
    font-size: 30px;
  }
  .menu-navegacion {
    width: 65vw;
  }
  #p {
    top: 70px;
  }

  .hamburguer {
    top: 20px;
    left: 20px;
    z-index: 170;
  }

  .titulo {
    font-size: 30px;
  }

  .subtitulo {
    font-size: 30px;
  }

  .img-galeria {
    width: 95%;
  }

  .agregar-imagen {
    width: 90%;
  }

  .social-media {
    width: 100%;
    justify-content: space-evenly;
  }

  .social-media-icon {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 95%;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  h1::after {
    display: none;
  }

  video {
    size: 50%;
    top: 0;
  }
}

@media screen and (max-width: 100px) {
  .abilidades {
    color: transparent;
    background: linear-gradient(to right, var(--color2), #ffc3c6);
    -webkit-background-clip: text;
    font-family: "Audiowide", cursive;
  }
}
