body{
    background: black;
    margin: 0;
    padding: 0;
}

.video{
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.video video{
    width: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 800px) {
    .video video{
        width: 95%;
    }
}