.modal-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 70%;
  height: 55%;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
}

.modal-close {
  transform: translateY(-200%);
  text-align: center;
}

.modal > video {
  height: 50%;
}



@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(300deg);
  }
}

#video {
  width: 100%;
}

#video:hover {
  width: 100%;
}

#video-2 {
  width: 100%;
}

#video-2:hover {
  width: 100%;
}

#video-3 {
  width: 100%;
}

#video-3:hover {
  width: 100%;
}

#video-4 {
  width: 100%;
}

#video-4:hover {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 66px;
}

.img-galeria {
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  border-radius: 1%;
}

#titulo-port{
  color: black;
  text-align: center;
  margin-top: 70px;
}



.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: scale(0);
  background: hsla(273, 91%, 27%, 0.7);
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
}

.imagen-port:hover .hover-galeria {
  transform: scale(1);
}

@media screen and (max-width: 800px) {
  .img-galeria {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .img-galeria {
    width: 95%;
  }
}
